
<h1> Question Index </h1>

<% @questions.each do |quest| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to quest.title, quest %>
      </h4>
    </div>
  </div>
<% end %>